# Chapter 4 - Classification: Applied Exercises

In [8]:
# loading required packages

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.neighbors import NearestNeighbors
from sklearn.naive_bayes import GaussianNB # might need different naive Bayes classifier

### Exercise 13

In [9]:
# loading the data

weekly = pd.read_csv('data/Weekly.csv')
weekly.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5    Volume  Today Direction
0  1990  0.816  1.572 -3.936 -0.229 -3.484  0.154976 -0.270      Down
1  1990 -0.270  0.816  1.572 -3.936 -0.229  0.148574 -2.576      Down
2  1990 -2.576 -0.270  0.816  1.572 -3.936  0.159837  3.514        Up
3  1990  3.514 -2.576 -0.270  0.816  1.572  0.161630  0.712        Up
4  1990  0.712  3.514 -2.576 -0.270  0.816  0.153728  1.178        Up

In [10]:
# a) numerical and graphical summaries of the Weekly data

In [11]:
# b) logistic regression - 'Direction' as response variable

In [12]:
# c) confusion matrix / correct predictions

In [13]:
# d) logistic regression (train/test split)

In [14]:
# e) LDA

In [15]:
# f) QDA

In [16]:
# g) KNN

In [17]:
# h) naive Bayes

In [18]:
# i) which method provides the best result on this data?

In [19]:
# j) experiment: Different combinations of predictors / transformations / interactions for each of the methods

### Exercise 14

In [20]:
# loading the data

auto = pd.read_csv('data/Auto.csv')
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [21]:
# a) create binary variable 'mpg01'

In [22]:
# b) explore the data graphically

In [23]:
# c) Split the data into a train / test set

In [24]:
# d) LDA -> test error?

In [25]:
# e) QDA -> test error?

In [26]:
# f) logistic regression -> test error?

In [27]:
# g) naive Bayes -> test error?

In [28]:
# h) KNN -> test error? Which value of K performs the best on the data set?

### Exercise 15

In [29]:
# a) Power() function -> 2^3 and print result

In [30]:
# b) Power2() function -> x^a print result

In [31]:
# c) compute 10^3, 8^17, 131^3 using Power2()

In [32]:
# d) Power3() function -> x^a return result

In [33]:
# e) create plot for f(x)=x^2 with Power3(); x-axis 1-10, y-axis x^2

In [34]:
# f) PlotPower() function -> create plot of x agains x^a for a fixed a and range of values of x

### Exercise 16

In [35]:
# loading the data

boston = pd.read_csv('data/Boston.csv')
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2